.titutlo-contacto {
    text-align: center;
    font-size: 2.1875rem; // 35px
    color: rgb(0, 0, 0);
    background-color: rgb(228, 181, 119);
    margin: 10px;
    padding: 10px;
    border: solid black;
  }