section {
  .titulo-sobre-nosotros {
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 181, 119);
    margin: 10px;
    padding: 10px;
    border: solid black;
  }

  .grilla-ubi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    padding: 16px;

    .item {
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
      background-image: url("../imagenes/card-fondo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      h3 {
        margin: 0 0 8px; /* top right-left bottom */
        font-size: 18px;
        color: white;
      }

      iframe {
        width: 100%;
        height: 250px;
        display: block;
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }
}
