.seccion-nosotros {
  .titulo-historia {
    text-align: center;
    font-size: 2.8125rem; // 45px
    color: rgb(255, 255, 255);
    background-color: red;
    margin: 10px;
    padding: 10px;
    border: black solid;
  }

  .texto-historia {
    text-align: center;
    font-size: 1.25rem; // 20px
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.421);
    border: black solid;
  }

}
