.novedades-section {
  background-image: url("../imagenes/home/novedades-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .novedades-padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px rgb(0, 0, 0) solid;

    > div {
      /* bloque interno que contiene título, imagen y párrafo */
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .novedades_titulo {
      text-align: center;
      color: rgb(255, 255, 255);
    }

    .novedades-img {
      width: 100%;
      height: 67%;
      display: block;
      margin: 0 auto;
      max-height: 215px;
      cursor: pointer;
      object-fit: contain;
    }

    h3 {
      text-align: center;
      font-size: 1.25rem; // 20px
      color: rgb(255, 255, 255);
    }

    p {
      text-align: center;
      font-size: 1.25rem; // 20px
      color: rgb(255, 255, 255);
    }

    button {
      position: relative;
      background-color: rgba(0, 0, 0, 0.648);
      color: white;
      border: none;
      padding: 7px 12px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 0.875rem; // 14px
      font-family: 'Roboto', sans-serif;

      &:hover {
        background-color: red;
      }
    }
  }
}
