/***fuentes**/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

h5 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

a {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}